<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글 쓰기</title>
    <div th:replace="~{header.html :: navbar}"></div>
</head>
<body>

<h1>게시글 작성</h1>

<form action="/board/write" method="POST">
    <input name="title"><br>
    <textarea name="contents"></textarea>
    <button sec:authorize="isAuthenticated()">저장</button>
</form>
<form action="/member.join" method="get">
    <button sec:authorize="isAnonymous()">회원 가입 하러 가기</button>

</form>


</body>
</html>