<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <div th:replace="~{header.html :: navbar}"></div>
</head>
<body>

<h1>회원 가입 페이지</h1>
<form action="/member/join" method="POST">
    ID : <input name="username" ><br>
    이름 : <input name="name"><br>
    PW : <input name="password" type="password"><br>
    닉네임 : <input name="nick"><br>
    이메일 : <input name="email" type="email"><br>
    전화번호 : <input name="phone"><br>
    생년월일 : <input name="birth" type="date"><br>
    성별 : 남<input type="radio" name="gender" value="man"> 여<input type="radio" name="gender" value="woman"> <br>
    <button type="submit">회원가입하기</button>
</form>


</body>
</html>