<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <div th:replace="~{header.html :: navbar}"></div>
</head>
<body>

    <h1>회원 가입 페이지</h1>
    <form action="/member/join" method="POST">
        ID : <input name="username" ><br>
        PW : <input name="password" type="password"><br>
        이름 : <input name="name"><br>
        닉네임 : <input name="nick"><br>
        <button >회원 가입 하기</button>
    </form>


</body>
</html>